/* stylelint-disable custom-property-empty-line-before */
@import '../public/fonts/font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-upload: 0 0% 38%;
    --foreground: 0 0% 3.9%;

    --text-primary: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 355 85% 52%;
    --primary-100: 1 100% 95%;
    --primary-200: 1 100% 90%;
    --primary-300: 1 100% 77%;
    --primary-foreground: 1 100% 77%;

    --secondary: 210 10% 96%;
    --secondary-500: 180 2% 92%;
    --secondary-600: 210 1% 71;
    --secondary-700: 210 1% 53%;
    --secondary-900: 0 1% 34%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --hover-secondary: 253 17% 20%;

    --outline: 214 100% 57.5%;
    --search-hue: 229;
    --search-saturation: 7%;
    --search-lightness: 53%;
    --search-alpha: 0.16;
    --btn-hue: 240;
    --btn-saturation: 4%;
    --btn-lightness: 86%;
    --btn-alpha: 1;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  body {
    @apply font-sans bg-background text-foreground;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  div,
  p,
  a {
    @apply text-body-sm;
  }

  #root > div[role='alert'] {
    height: 100vh;
  }

  @media (min-width: 575.98px) {
    .sm\:max-w-lg.thing-service-popup {
      max-width: 78rem;
    }
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: inset 0 0 6px transparent;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f4f5f6;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  }

  :-webkit-autofill {
    transition: all 100000s ease-in-out 0s;
  }

  input[type='file'] {
    display: none;
  }
}
