.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  will-change: width, height;
  z-index: 1;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  will-change: transform;
  z-index: 3;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  user-select: none;
  z-index: 2;
}

.react-grid-item > .react-resizable-handle {
  bottom: 0;
  cursor: se-resize;
  height: 20px;
  position: absolute;
  right: 0;
  width: 20px;
}

.react-grid-item[data-iseditmode='false'] > .react-resizable-handle {
  cursor: default;
}

.react-grid-item > .react-resizable-handle::after {
  border-bottom: 2px solid rgb(0 0 0 / 40%);
  border-right: 2px solid rgb(0 0 0 / 40%);
  bottom: 3px;
  content: '';
  height: 5px;
  position: absolute;
  right: 3px;
  width: 5px;
}

.react-grid-item:not(.react-grid-placeholder) {
  background-color: white;
}
